.venv
__pycache__

basalt.📦

examples/data/mnist_test.csv
examples/data/mnist_train.csv
examples/data/mnist_train_small.csv

output_model.onnx
Makefile

./temp
flamegraph.svg

.magic

examples/data/yolov8n.onnx

*.DS_Store